{{!-- run with extension(e) js(server file),hbs extension  nodemon server.js -e,hbs --}}	

{{!-- footer rendering both the pages home and about {{> footer}} --}}
  

<footer>
<p>created by Milind Dev  copywrite {{CurrentYear}}</p>
</footer>
