
{{!-- go to use  app.use is a middelware function --}}

<!DOCTYPE html>
<html>
<head>
  <title>Abouthbs</title>           
</head>

<body>
<h1>about page</h1>

{{> header}}

<p>some text hereM</p>
	{{> footer}}

</body>
</html>