

{{!--  go to use  app.use is a middelware function footer is  partial and add to footer--}}

<!DOCTYPE html>
<html>
<head>
  <title>some website home hbs</title>           
</head>

<body>
{{!--<h1>{{pageTitle}}</h1>--}}

{{> header}}
<p>some text hereM</p>
<p>{{welcomeMessage}}</p>
	{{> footer}}
</body>
</html>