

{{!--  go to use  app.use is a middelware function footer is  partial and add to footer--}}

<!DOCTYPE html>
<html>
<head>
  <title>some website home hbs</title>           
</head>

<body>
	<p1>the sites are currently update</p1>
</body>
</html>